In [1]:
import pandas as pd
import os

In [2]:
def clean_dataset(data):
    data['Năm đăng ký'] = data['Năm đăng ký'].str.replace('trước năm ','')
    data['Năm đăng ký'] = data['Năm đăng ký'].astype('Int64')

    data['Giá'] = data['Giá'].str.replace('đ','')
    data['Giá'] = data['Giá'].str.replace('.','')
    data['Giá'] = data['Giá'].astype('Int64')
    return data

Clean big dataset

In [3]:
data = pd.read_csv('./raw_data/bigdataset.csv')
data.head()

,Hãng xe,Dòng xe,Năm đăng ký,Số Km đã đi,Tình trạng,Loại xe,Dung tích xe,Xuất xứ,Chính sách bảo hành,Giá
0,Honda,Wave,1996,20000,Đã sử dụng,Xe số,100 - 175 cc,Đang cập nhật,Bảo hành hãng,1.500.000 đ
1,Piaggio,Liberty,2014,3000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,9.500.000 đ
2,Honda,Cub,1992,70000,Đã sử dụng,Xe số,50 - 100 cc,Đang cập nhật,Bảo hành hãng,12.000.000 đ
3,Yamaha,Exciter,2014,29000,Đã sử dụng,Xe số,100 - 175 cc,Đang cập nhật,Bảo hành hãng,9.300.000 đ
4,Yamaha,Nouvo,2011,55555,Đã sử dụng,Tay ga,50 - 100 cc,Đang cập nhật,Bảo hành hãng,6.200.000 đ

In [4]:
data = clean_dataset(data)
data.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_20816\2781437385.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Giá'] = data['Giá'].str.replace('.','')

,Hãng xe,Dòng xe,Năm đăng ký,Số Km đã đi,Tình trạng,Loại xe,Dung tích xe,Xuất xứ,Chính sách bảo hành,Giá
0,Honda,Wave,1996,20000,Đã sử dụng,Xe số,100 - 175 cc,Đang cập nhật,Bảo hành hãng,1500000
1,Piaggio,Liberty,2014,3000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,9500000
2,Honda,Cub,1992,70000,Đã sử dụng,Xe số,50 - 100 cc,Đang cập nhật,Bảo hành hãng,12000000
3,Yamaha,Exciter,2014,29000,Đã sử dụng,Xe số,100 - 175 cc,Đang cập nhật,Bảo hành hãng,9300000
4,Yamaha,Nouvo,2011,55555,Đã sử dụng,Tay ga,50 - 100 cc,Đang cập nhật,Bảo hành hãng,6200000

In [5]:
data.to_csv('./clean_data/bigdataset.csv', index=False)

Clean small dataset

In [6]:
data = pd.read_csv('./raw_data/smalldataset.csv')
data.head()

,Hãng xe,Dòng xe,Năm đăng ký,Số Km đã đi,Tình trạng,Loại xe,Dung tích xe,Xuất xứ,Chính sách bảo hành,Giá
0,Yamaha,Nozza,2014,16000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,12.800.000 đ
1,Honda,Air Blade,2013,900000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,20.500.000 đ
2,Honda,Vision,2019,18236,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,29.600.000 đ
3,Honda,@,2007,123456,Đã sử dụng,Xe số,100 - 175 cc,Nhật Bản,Bảo hành hãng,8.000.000 đ
4,Yamaha,Exciter,2013,2499,Đã sử dụng,Tay côn/Moto,100 - 175 cc,Đang cập nhật,Bảo hành hãng,10.800.000 đ

In [7]:
data = clean_dataset(data)
data.head()

C:\Users\Hung Nguyen\AppData\Local\Temp\ipykernel_10412\2781437385.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Giá'] = data['Giá'].str.replace('.','')

,Hãng xe,Dòng xe,Năm đăng ký,Số Km đã đi,Tình trạng,Loại xe,Dung tích xe,Xuất xứ,Chính sách bảo hành,Giá
0,Yamaha,Nozza,2014,16000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,12800000
1,Honda,Air Blade,2013,900000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,20500000
2,Honda,Vision,2019,18236,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,29600000
3,Honda,@,2007,123456,Đã sử dụng,Xe số,100 - 175 cc,Nhật Bản,Bảo hành hãng,8000000
4,Yamaha,Exciter,2013,2499,Đã sử dụng,Tay côn/Moto,100 - 175 cc,Đang cập nhật,Bảo hành hãng,10800000

In [8]:
data.to_csv('./clean_data/smalldataset.csv', index=False)

In [20]:
df = data.copy()
df.head()

,Hãng xe,Dòng xe,Năm đăng ký,Số Km đã đi,Tình trạng,Loại xe,Dung tích xe,Xuất xứ,Chính sách bảo hành,Giá
0,Honda,Wave,1996,20000,Đã sử dụng,Xe số,100 - 175 cc,Đang cập nhật,Bảo hành hãng,1500000
1,Piaggio,Liberty,2014,3000,Đã sử dụng,Tay ga,100 - 175 cc,Đang cập nhật,Bảo hành hãng,9500000
2,Honda,Cub,1992,70000,Đã sử dụng,Xe số,50 - 100 cc,Đang cập nhật,Bảo hành hãng,12000000
3,Yamaha,Exciter,2014,29000,Đã sử dụng,Xe số,100 - 175 cc,Đang cập nhật,Bảo hành hãng,9300000
4,Yamaha,Nouvo,2011,55555,Đã sử dụng,Tay ga,50 - 100 cc,Đang cập nhật,Bảo hành hãng,6200000

In [21]:
df_new = df.drop(['Tình trạng', 'Xuất xứ', 'Chính sách bảo hành'], axis=1)
df_new.head()

   Hãng xe  Dòng xe  Năm đăng ký  Số Km đã đi Loại xe  Dung tích xe       Giá
0    Honda     Wave         1996        20000   Xe số  100 - 175 cc   1500000
1  Piaggio  Liberty         2014         3000  Tay ga  100 - 175 cc   9500000
2    Honda      Cub         1992        70000   Xe số   50 - 100 cc  12000000
3   Yamaha  Exciter         2014        29000   Xe số  100 - 175 cc   9300000
4   Yamaha    Nouvo         2011        55555  Tay ga   50 - 100 cc   6200000

In [22]:
df_new = pd.get_dummies(df_new, columns= ['Loại xe', 'Dung tích xe', 'Hãng xe', 'Dòng xe'])

In [23]:
df_new.head()

,Năm đăng ký,Số Km đã đi,Giá,Loại xe_Tay côn/Moto,Loại xe_Tay ga,Loại xe_Xe số,Dung tích xe_100 - 175 cc,Dung tích xe_50 - 100 cc,Dung tích xe_Dưới 50 cc,Dung tích xe_Không biết rõ,...,Dòng xe_Yass,Dòng xe_Z1000,Dòng xe_Z125,Dòng xe_Z300,Dòng xe_Z650,Dòng xe_Z800,Dòng xe_Z900,Dòng xe_ZX10R,Dòng xe_Zip,Dòng xe_helios
0,1996,20000,1500000,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014,3000,9500000,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1992,70000,12000000,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014,29000,9300000,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011,55555,6200000,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_new = df_new.drop(['Giá'], axis=1)
df_new.head()

,Năm đăng ký,Số Km đã đi,Loại xe_Tay côn/Moto,Loại xe_Tay ga,Loại xe_Xe số,Dung tích xe_100 - 175 cc,Dung tích xe_50 - 100 cc,Dung tích xe_Dưới 50 cc,Dung tích xe_Không biết rõ,Dung tích xe_Trên 175 cc,...,Dòng xe_Yass,Dòng xe_Z1000,Dòng xe_Z125,Dòng xe_Z300,Dòng xe_Z650,Dòng xe_Z800,Dòng xe_Z900,Dòng xe_ZX10R,Dòng xe_Zip,Dòng xe_helios
0,1996,20000,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014,3000,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1992,70000,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014,29000,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011,55555,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.decomposition import PCA

In [18]:
pca = PCA(n_components=30)

In [25]:
principal_components = pca.fit_transform(df_new)

In [27]:
principal_df = pd.DataFrame(data=principal_components)

In [28]:
principal_df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-15205.269516,18.161468,0.069843,-0.651560,-0.097754,-0.592799,0.305512,-0.165715,-0.280043,0.364777,...,0.007846,0.010118,-0.012099,-0.044260,-0.042295,0.023408,0.001200,0.007833,0.001117,0.009591
1,-32205.269761,0.361269,-0.351296,0.766345,-0.336260,0.378558,0.811276,-0.092005,-0.449341,-0.301044,...,0.746807,-0.027439,0.008706,0.006051,0.068494,-0.018753,-0.144965,-0.090184,-0.016949,-0.032400
2,34794.730535,21.500523,0.135854,-0.576077,0.081275,0.572379,-0.429592,-0.083437,-0.211462,-0.095717,...,0.007635,-0.150454,-0.086892,0.530140,0.094994,-0.284182,0.356552,-0.319629,-0.006674,-0.052074
3,-6205.269762,0.029854,1.115300,0.105288,-0.719947,-0.453942,-0.280217,0.010196,-0.121426,-0.295957,...,-0.001349,-0.006035,0.043104,0.128058,0.063341,0.002722,0.034317,0.034291,-0.005127,0.056761
4,20349.730276,2.658587,0.172341,0.764638,-0.497264,0.894135,-0.945961,-0.147469,-0.300885,0.465717,...,-0.030786,-0.239487,0.666682,0.108993,-0.015683,0.033695,-0.056148,0.035730,0.005485,-0.002295